@import url('https://fonts.googleapis.com/css?family=Bitter');
* {
  box-sizing: content-box;
}
.flexContainer {
  display: flex;
}
.homeTitle {
  align-self: center;
  border-radius: 6px;
  padding: 10px 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main.HomePage > .backgroundDiv {
  display: flex;
  padding: none;
  background-image: url('./images/cropped-food-background.jpg');
  background-size: cover;
  justify-content: flex-end;
}

#signin-jumbotron {
  display: flex;
  flex-direction: column;
  margin: 0 100px;
  width: 450px;
  height:95vh;
  font-family: 'Bitter';
}

.recipeCardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin-bottom: 20px;
}

.recipeCard {
  max-width: 350px;
  margin: 15px;
  border: none;
}

.ingredientsIndicators {
  max-width: 350px;
  margin: -15px 15px 0px 15px;
  border: none;
}

.recipeCard img {
  width: 350px;
  height: auto
}

.ingredientItems {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.ingredientItems > .quantity{
  width: 2em;
}

.ingredientItems > .unit{
  width: 8em;
}

.backgroundDiv {
  background-image: url('./images/content_background.jpg');
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  padding: 0;
}

.content {
  background-color: white;
  margin: 0 150px;
  padding: 20px;
  min-height: 80vh;
}
.recipeImage {
  max-width: 100%;
  height: auto;
}

form input, textarea, .ratingInput {
  width: 100%;
  border-radius: 4px;
  border-style: inset;
  border-width: 2px;
  resize: none;
}

a {
  color: #282828;
}

.NavBar {
  display: flex;
  background-color: black;
  color: white;
}

.NavBar > * {
  padding: 0.50em 1em;
  color: inherit;
  text-decoration: none;
}

.showHeader {
  margin-top: 50px;
}

#homeSearch {
  margin-bottom: 200px;
}

div.Select-menu {
  max-height: 700px;
}

.ingredientButton {
  margin: 5px;
  background-color: palegreen;
  color: #114800;
  border-color: #49EB49
}

.multiSelectButton {
  margin-top: 10px;
}

.hoverX {
  color: #114800;
}

.hidden {
  display: none;
}

#navSearchBar {
  margin-left: auto;
}

.form-group {
  margin: 0;
}

.pageNumber {
  flex-direction: column;
  align-items: center;
}

.pageNumber > p {
  margin: 0px
}

.card-img-overlay.cardOverlay {
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

.cardOverlay > .favouriteButton {

}

.cardOverlay > .recipeTitle {
  height: 50px;
  margin: 0;
  padding: 10px;
  background-color: rgba(0,100,70,0.8)
}

.cardOverlay > .recipeTitle p {
  font-size: 16pt;
  font-weight: bold;
  color: black;
  font-family: sans-serif;
  margin-bottom: 0px;
}

.usedIngredients {
  color: green;
}

.missedIngredients {
  color: maroon;
}
